# Environment files
.env
.env.local
.env.*

# macOS system files
.DS_Store

# Input and output directories
input/**
output/**

# Old files
v1/
v1/**

# Python cache files
__pycache__/

# Log files
*.log
**/*.log
address_validation.log*